MONGODB_URL=mongodb+srv://<name>:<password>@<mongodb_url>.mongodb.net/restaurant-list?retryWrites=true&w=majority
FACEBOOK_ID=SKIP
FACEBOOK_SECRET=SKIP
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
SESSION_SECRET=ThisIsMySecret